{% block body %}
    <footer id="footer">    
        <div class="footer">
            <div id="logoFooter">
                <img src={{asset('images/logo-prestige-grand.png')}} alt="">
            </div>
            <div class="infos">
                
                <p><b>Adam.N</b></p>
                <p>+32(0) 491 52 10 65</p>
                <p>Rue Grande 208Q, Maisières(7030)</p>
            </div>
            <div class="subscribe">
                <a href="{{asset('files/prestige-contrat-confidentialite.pdf')}}">Conditions générales</a><br>
                <a href="{{asset('files/reglement.pdf')}}">Règlement du club</a>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @ Prestige Business Club - Design et création by www.pandacom.be - All rights reserved</p>
        </div>
    </footer>
{% endblock %}