<h1> Votre compte a bien été créé sur notre site Prestige Business </h1>
<p>
    
    Bonjour, Madame/ Monsieur <b>{{user.lastname}}.{{user.firstname}}</b> <br>
    Votre demande d'admission a bien été prise en compte et votre profil a bien été créé !<br>

    <br><p>Vous pousez désormais vous connecter avec ces informations et <b>définir votre propre mot de passe </b>dans votre espace compte.</p>

    <b> Email : {{user.email}} </b><br>
    <b> Mot de passe : {{user.password}} </b><br>

    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site ! <br>

    <p>L'équipe Prestige Business</p>
   
</p>