{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include "/partials/header.html.twig" %}
    <div class="slide" id="admin">
        <h1>Administration - Marques</h1>
        <a href=""><button class="btn-dore">Ajouter une marque</button></a>
        <div class="liste">
          {{form_start(myform)}}
            <div class="container" style="background-color:  rgba(255, 170, 22, 0.1); padding: 20px; border-radius: 20px;">
                <div>
                    
                    {{form_widget(myform)}}

                </div>
                <button type="submit" class="btn-dore"><i class="fa-solid fa-check"></i> Ajouter la marque</button>
            </div>
            
        {{form_end(myform)}}
        </div>
    </div>
    {% include "/partials/footer.html.twig" %}
{% endblock %}
